.gradle
local.properties

/android/app/.idea
/android/app/app/.cxx

**/.idea/workspace.xml 
**/.idea/jarRepositories.xml
**/.idea/uiDesigner.xml
**/.idea/description.xml
**/.idea/vcs.xml
**/.idea/tasks.xml
**/.idea/compiler.xml
**/.idea/androidTestResultsUserPreferences.xml
apps/salmon-vault-javafx/app/dist
build

**/output/

csharp/lib/SalmonDotNetLibs/output/

.cxx

*.pyc

*.pro
*.filters
*.user
*.licenseheader
out
.vs
bin
obj
packages
Debug
Release
DebugGPU
ReleaseGPU

Resource.designer.cs

inspectionProfiles
deploymentTargetDropDown.xml
node_modules
/libs/projects/salmon-libs-gcc-linux/lib
.DS_Store
DerivedData
project.xcworkspace
xcuserdata
/samples/MacCSamples/MacCSamples/salmon-lib
/samples/GccSamples/salmon-lib
*.o
*.so
*.tar.gz
/samples/GccSamples/salmon_sample
/samples/MacCSamples/*.dmg
/apps/salmon-vault-javafx/project/libs
*.dll
*.exe
/libs/projects/salmon-libs-python/main.py
node_modules
/libs/projects/SalmonLibsTypeScript.VS2022/SalmonLibsTypeScript.VS2022/lib
/libs/projects/SalmonLibsTypeScript.VS2022/SalmonLibsTypeScript.VS2022/eslintreport.txt
/libs/projects/SalmonLibsTypeScript.VS2022/SalmonLibsTypeScript.VS2022/lintreport.txt
/libs/projects/SalmonLibsTypeScript.VS2022/SalmonLibsTypeScript.VS2022/test/data
/libs/projects/SalmonLibsTypeScript.VS2022/SalmonLibsTypeScript.VS2022/jsdoc

/samples/JavascriptSamples/lib
/samples/PythonSamples/lib
vault_*
data_*
/libs/projects/salmon-libs-gradle/salmon-ws/src/main/resources/*.p12
