.gradle
local.properties

/android/app/.idea
/android/app/app/.cxx

**/.idea/workspace.xml 
**/.idea/jarRepositories.xml
**/.idea/uiDesigner.xml
**/.idea/description.xml
**/.idea/vcs.xml
**/.idea/tasks.xml
**/.idea/compiler.xml
javafx/app/dist
build

.cxx

*.pro
*.filters
*.user
*.licenseheader
out
.vs
bin
obj
packages
Debug
Release
/c/src/tiny-aes/aes.h
/c/src/tiny-aes/aes.c
Resource.designer.cs

inspectionProfiles
