
[submodule "libs/src/c/tiny-AES-c"]
	path = libs/src/c/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c
[submodule "libs/deps/SimpleIO"]
	path = libs/deps/SimpleIO
	url = https://github.com/mku11/SimpleIO.git
[submodule "libs/deps/SimpleFS"]
	path = libs/deps/SimpleFS
	url = https://github.com/mku11/SimpleFS.git
[submodule "libs/deps/WebGPULogger"]
	path = libs/deps/WebGPULogger
	url = https://github.com/mku11/WebGPULogger.git
[submodule "libs/deps/Best"]
	path = libs/deps/Best
	url = https://github.com/mku11/Best.git
[submodule "libs/deps/WebFS"]
	path = libs/deps/WebFS
	url = https://github.com/mku11/WebFS.git
