.gradle
local.properties

/android/app/.idea
/android/app/app/.cxx

**/.idea/workspace.xml 
**/.idea/jarRepositories.xml
**/.idea/uiDesigner.xml
**/.idea/description.xml
**/.idea/vcs.xml
**/.idea/tasks.xml
**/.idea/compiler.xml
**/.idea/androidTestResultsUserPreferences.xml
apps/salmon-vault-javafx/app/dist
build

**/output/

csharp/lib/SalmonDotNetLibs/output/

.cxx

*.pyc

*.pro
*.filters
*.user
*.licenseheader
out
.vs
bin
obj
packages
Debug
Release

Resource.designer.cs

inspectionProfiles
deploymentTargetDropDown.xml
/libs/projects/salmon-libs-gcc-linux/lib
.DS_Store
DerivedData
project.xcworkspace
xcuserdata
/samples/MacCSamples/MacCSamples/salmon-lib
/samples/GccSamples/salmon-lib
*.o
*.so
*.tar.gz
/samples/GccSamples/salmon_sample
/samples/MacCSamples/*.dmg
/apps/salmon-vault-javafx/project/libs
