<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Salmon.Vault.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SalmonWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Salmon.Vault.WPF.Properties.Settings>
            <setting name="VaultLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteSource" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AesType" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="AuthType" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="PbkdfImplType" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="PbkdfAlgoType" serializeAs="String">
                <value>SHA256</value>
            </setting>
            <setting name="LastImportDir" serializeAs="String">
                <value />
            </setting>
        </Salmon.Vault.WPF.Properties.Settings>
        <SalmonWPF.Properties.Settings>
            <setting name="VaultLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteSource" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AesType" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="EnableLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLogDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuthType" serializeAs="String">
                <value>Service</value>
            </setting>
        </SalmonWPF.Properties.Settings>
    </userSettings>
</configuration>