<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mku.salmon.vault.net.android"
          android:versionCode="106"
          android:versionName="1.0.6-SNAPSHOT">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <!-- We need to able to query apps on the device to let the user choose which one to
    give temporary permission to share encrypted files with -->
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission"/>
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="33"/>
  
  <application
    android:allowBackup="false"
    android:icon="@drawable/logo_128x128"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:theme="@style/AppTheme">

    <provider
              android:name="androidx.core.content.FileProvider"
              android:authorities="com.mku.salmon.vault.net.android.fileprovider"
              android:exported="false"
              android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/fileprovider" />
    </provider>
  </application>

</manifest>