body {
	background-color: black;
	color: white;
	font-family: monospace;
	font-size: 12pt;
}

.site-container {
	position: absolute;
	top:15%;
	left: 0;
	right: 0;
	margin: auto;
	width: 75%;
}

.app-icon-container {
	text-align: center;
}

.app-descr {
	text-align: center;
}

.link-container {
	text-align: center;
	padding: 10pt;
}

.downloads-container {
	display: flex;
}

.link-image {
	width: 100px;
	height: 100px;
	padding: 8pt;
}

a {
	color: cyan;
}

pre {
    word-wrap: break-word;
	white-space: pre-wrap;
	white-space: -pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}