<?xml version="1.0" encoding="utf-8"?>

<PreferenceScreen xmlns:android="http://schemas.android.com/apk/res/android" >

  <PreferenceCategory android:title="@string/SalmonPrefCat" >

    <CheckBoxPreference
        android:key="deleteAfterImport"
        android:summary="@string/DeleteSourceFilesAfterImport"
        android:title="@string/DeleteFilesAfterImport" />

    <ListPreference
        android:key="aesType"
        android:summary="@string/AESEncryptionImplementation"
        android:title="@string/AESImplementation"
        android:entryValues="@array/AESImplValues"
        android:entries="@array/AESImplEntries"
        android:defaultValue="@string/Default"/>

    <ListPreference
        android:key="pbkdfType"
        android:summary="@string/PBKDFHashImplementation"
        android:title="@string/PBKDFImplementation"
        android:entryValues="@array/PBKDFImplValues"
        android:entries="@array/PBKDFImplEntries"
        android:defaultValue="@string/Default"
            />

    <ListPreference
        android:key="pbkdfAlgo"
        android:summary="@string/PBKDFAlgo"
        android:title="@string/PBKDFAlgo"
        android:entryValues="@array/PBKDFAlgoValues"
        android:entries="@array/PBKDFAlgoEntries"
        android:defaultValue="@string/SHA256"/>

    <CheckBoxPreference
        android:key="excludeFromRecents"
        android:summary="@string/ExcludeFromRecents"
        android:title="@string/ExcludeFromRecents" />

  </PreferenceCategory>
</PreferenceScreen>