name: Salmon Android Java Windows

on:
  push:
    branches: [ "wip-3.0.2" ]
  pull_request:
    branches: [ "wip-3.0.2" ]

jobs:
  build:

    runs-on: windows-latest
    defaults:
      run:
        working-directory: ./libs/projects/salmon-libs-gradle-android

    steps:
    - uses: actions/checkout@v4
    - name: Cache Gradle packages
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: gradle-${{ runner.os }}
        restore-keys: |
          gradle-${{ runner.os }}
          gradle-
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Build with Gradle
      run: .\gradlew.bat build
