# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

# Build, Package, and Release
# This workflow should only run in the main branch

# Note: if you have cache misses then make sure this workflow runs in the main branch first for the same cache keys.
name: CD.BuildPackageRelease

on:
  push:
    branches: [ "wip-3.0.2" ]
    tags:
      - "v*.*.*"
      
jobs: 
  # Java
  java_release_matrix:
    strategy:
      matrix:
        java_version: [11]
        os: [windows-latest,ubuntu-latest,macos-15-intel]
    name: build.java${{ matrix.java_version }}. ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read 
    steps:
    
    # Git
    - name: Checkout sources
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    - if: runner.os == 'Windows'
      name: Get submodules on Windows
      shell: cmd
      run: cd ./scripts/misc && init_gitmodules.bat
    
    # Toolchains and Build envs
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java_version }}
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    
    # Caches
    - name: Cache Gradle packages
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    
    # Gradle Build Salmon Java Common
    - if: runner.os == 'Windows'
      name: Build Java Libraries Common libs
      shell: cmd
      run: cd ./libs/projects/salmon-libs-gradle && gradlew.bat build -x test -x salmon-native -x salmon-win -i
    # Package
    - if: runner.os == 'Windows'
      name: Package Java Libraries
      shell: cmd
      run: cd .\scripts\deploy && build_java_nativegpu.bat && powershell -command Compress-Archive -Force -DestinationPath ..\..\output\salmon-java-${{ github.ref }}.zip -Path ..\..\output\maven\releases\com\mku\salmon\ && rmdir /S /Q ..\..\output\maven
    
    # Gradle Build Salmon Java Native
    - if: runner.os == 'Windows'
      name: Build Java Win Native Libraries
      shell: cmd
      run: cd ./libs/projects/salmon-libs-gradle && gradlew.bat :salmon-native:build -x test -i && gradlew.bat :salmon-win:build -x test -i
    - if: runner.os == 'Linux' || runner.os == 'macOS'
      name: Build Java Linux/MacOS Native Libraries
      shell: cmd
      run: cd ./libs/projects/salmon-libs-gradle && ./gradlew.sh :salmon-native:build -x test -i
    
    # Package Native
    - if: ${{ matrix.os == 'windows-latest' }}
      name: Package Java Native Windows x64 Libraries
      uses: montudor/action-zip@v1
      with:
        args: zip -qq -r ..\..\output\salmon-java-win-x64-${{ github.ref }}.zip ..\..\output\maven\releases\com\mku\salmon\
    - if: ${{ matrix.os == 'ubuntu-latest' }}
      name: Package Java Native Linux x64 Libraries
      uses: montudor/action-zip@v1
      with:
        args: zip -qq -r ..\..\output\salmon-java-linux-x64-${{ github.ref }}.zip ..\..\output\maven\releases\com\mku\salmon\
    - if: ${{ matrix.os == 'macos-15-intel' }}
      name: Package Java Native MacOS x64 Libraries
      uses: montudor/action-zip@v1
      with:
        args: zip -qq -r ..\..\output\salmon-java-macos-x64-${{ github.ref }}.zip ..\..\output\maven\releases\com\mku\salmon\
    
    # Release
    - name: Release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        files: |
          output/salmon-java-${{ github.ref }}.zip
          output/salmon-java-win-x64-${{ github.ref }}.zip
          output/salmon-java-macos-x64-${{ github.ref }}.zip
          output/salmon-java-linux-x64-${{ github.ref }}.zip