# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

# Build, Package, and Release
# This workflow should only run in the main branch

# Note: if you have cache misses then make sure this workflow runs in the main branch first for the same cache keys.
name: CD.BuildPackageRelease

on:
  push:
    branches: [ "wip-3.0.2" ]
  pull_request:
    branches: [ "wip-3.0.2" ]
  
jobs:

  # Java
  java_build_matrix:
    strategy:
      matrix:
        java_version: [11]
        os: [windows-latest,ubuntu-latest,ubuntu-24.04-arm,macos-15-intel,macos-latest]
    name: build.java${{ matrix.java_version }}. ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read 
    steps:
    
    # Git
    - name: Checkout sources
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    - if: runner.os == 'Windows'
      name: Get submodules on Windows
      shell: cmd
      run: cd ./scripts/misc && init_gitmodules.bat
    - if: runner.os == 'Linux' || runner.os == 'macOS'
      name: Get submodules on Linux/MacOS
      shell: bash
      run: cd ./scripts/misc && ./init_gitmodules.sh
    
    # Toolchains and Build envs
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java_version }}
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    
    # OpenCL
    - if: runner.os == 'Windows'
      name: Get OpenCL for Windows
      shell: cmd
      run: cd ./scripts/misc && get_opencl.bat
    - if: runner.os == 'Linux'
      name: Get OpenCL for Linux
      shell: bash
      run: sudo apt install -y ocl-icd-opencl-dev
    - if: runner.os == 'macOS'
      name: Get OpenCL for MacOS
      shell: bash
      # TODO: build from source?
      run: echo "OpenCL not installed"    
    
    # GCC native libraries
    - if: ${{ matrix.os == 'ubuntu-24.04-arm' }}
      name: Build GCC Native Libraries on Linux aarch64
      shell: bash
      run: cd ./libs/projects/salmon-libs-gcc && make PLATFORM=linux ARCH=aarch64 USE_OPENCL=1 ENABLE_JNI=1 package
    - if: ${{ matrix.os == 'macos-15-intel' }}
      name: Build GCC Native Libraries on MacOS x86_64
      shell: bash
      run: cd ./libs/projects/salmon-libs-gcc && make PLATFORM=macos ARCH=x86_64  ENABLE_JNI=1 package
    - if: ${{ matrix.os == 'macos-latest' }}
      name: Build GCC Native Libraries on MacOS aarch64
      shell: bash
      run: cd ./libs/projects/salmon-libs-gcc && make PLATFORM=macos ARCH=aarch64 ENABLE_JNI=1 package
    
    # Gradle Build
    - if: runner.os == 'Windows'
      name: Build Java Libraries on Windows
      shell: cmd
      run: cd ./libs/projects/salmon-libs-gradle && gradlew.bat build -x test -DENABLE_GPU=$ENABLE_GPU -DOPENCL_INCLUDE=\\..\\..\\libs\\deps\\OpenCL\\$OPENCL_SDK_WIN_VERSION\\include -DOPENCL_LIB=\\..\\..\\libs\\deps\\OpenCL\\$OPENCL_SDK_WIN_VERSION\\lib -i
    - if: runner.os == 'Linux' || runner.os == 'macOS'
      name: Build Java Libraries on Linux/MacOS
      shell: bash
      run: cd ./libs/projects/salmon-libs-gradle && ./gradlew build -x test -DENABLE_GPU=$ENABLE_GPU -DOPENCL_INCLUDE=/usr/include -DOPENCL_LIB=/usr/lib/x86_64-linux-gnu/ -i
      
  # C# .NET
  dotnet_build_release_matrix:
    strategy:
      matrix:
        java_version: [11]
        dotnet_version: [8.0.x]
        os: [windows-latest]
    name: build.dotnet${{ matrix.dotnet_version }}.java${{ matrix.java_version }}. ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read 
    steps:
    
    # Git
    - name: Checkout sources
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    - if: runner.os == 'Windows'
      name: Get submodules on Windows
      shell: cmd
      run: cd ./scripts/misc && init_gitmodules.bat
    - if: runner.os == 'Linux' || runner.os == 'macOS'
      name: Get submodules on Linux/MacOS
      shell: bash
      run: cd ./scripts/misc && ./init_gitmodules.sh
    
    # Toolchains and Build envs
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2
    - name: Setup Nuget
      uses: nuget/setup-nuget@v2
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      
    # Caches
    - name: Cache Gradle packages
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Cache Nuget packages
      uses: actions/cache@v4
      with:
        path: |
          ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.vcxproj*', '**/*.csproj', '**/packages.config') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    
    # OpenCL
    - if: runner.os == 'Windows'
      name: Get OpenCL for Windows
      shell: cmd
      run: cd ./scripts/misc && get_opencl.bat
    - if: runner.os == 'Linux'
      name: Get OpenCL for Linux
      shell: bash
      run: sudo apt install -y ocl-icd-opencl-dev
    - if: runner.os == 'macOS'
      name: Get OpenCL for MacOS
      shell: bash
      # TODO: build from source?
      run: echo "OpenCL not installed"    
    
    # Gradle Build
    - if: runner.os == 'Windows'
      name: Build Gradle Android Native Libraries on Windows
      shell: cmd
      run: cd ./libs/projects/salmon-libs-gradle-android && gradlew.bat :salmon-native-android:build --settings-file settings-native.gradle -x test -i
      
    # MSBuild Build
    - name: Restore .NET dependencies
      working-directory: ./libs/projects/SalmonLibs.VS2022
      run: msbuild -t:restore
    - if: runner.os == 'Windows'
      name: Build .NET on Windows
      working-directory: ./libs/projects/SalmonLibs.VS2022
      run: msbuild /property:Configuration=ReleaseGPU /p:Platform=x64