# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

# Build, Package, and Release
# This workflow should only run in the main branch

# Note: if you have cache misses then make sure this workflow runs in the main branch first for the same cache keys.
name: CD.BuildPackageRelease.Test

on:
  push:
    # branches: [ "wip-3.0.2" ]
    tags:
      - "v*.*.*"


env:
    OPENCL_INCLUDE: .\\libs\\deps\\OpenCL\\OpenCL-SDK-v2025.07.23-Win-x64\\include
    OPENCL_LIB: .\\libs\\deps\\OpenCL\\OpenCL-SDK-v2025.07.23-Win-x64\\lib

jobs: 

  gcc_macos_build_matrix:
    strategy:
      matrix:
        os: [macos-15-intel, macos-latest]
    name: build.gcc.${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read 
    steps:
    
    # Git
    - name: Checkout sources
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    
    # Brew
    - name: Update Homebrew
      run: brew update
      
    # OpenCL
    - name: Get OpenCL
      shell: bash
      run: brew install opencl-headers
          
    # Build GCC native libraries
    - if: ${{ matrix.os == 'macos-15-intel' }}
      name: Build GCC Native Libraries on MacOS x86_64
      shell: bash
      run: cd ./libs/projects/salmon-libs-gcc && make PLATFORM=macos ARCH=x86_64 ENABLE_JNI=1 ENABLE_GPU=1 package
    - if: ${{ matrix.os == 'macos-latest' }}
      name: Build GCC Native Libraries on MacOS aarch64
      shell: bash
      run: cd ./libs/projects/salmon-libs-gcc && make PLATFORM=macos ARCH=aarch64 ENABLE_JNI=1 ENABLE_GPU=1 package
    
    # upload artifacts
    - if: ${{ matrix.os == 'macos-15-intel' }}
      name: Upload GCC MacOS x64 Packages
      uses: actions/upload-artifact@v4
      with:
        name: salmon-gcc-macos-x86_64
        path: ./output/native/salmon-gcc-macos-x86_64.3.0.2.tar.gz
    
    - if: ${{ matrix.os == 'macos-latest' }}
      name: Upload GCC MacOS aarch64 Packages
      uses: actions/upload-artifact@v4
      with:
        name: salmon-gcc-macos-aarch64
        path: ./output/native/salmon-gcc-macos-aarch64.3.0.2.tar.gz

  gcc_linux_build_matrix:
    strategy:
      matrix:
        os: [ubuntu-latest,ubuntu-24.04-arm]
    name: build.gcc.${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read 
    steps:
    
    # Git
    - name: Checkout sources
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    
    # Aptitude
    - name: Update Aptitude
      run: sudo apt update
      
    # OpenCL
    - name: Get OpenCL
      shell: bash
      run: sudo apt install ocl-icd-opencl-dev
          
    # Build GCC native libraries
    - if: ${{ matrix.os == 'ubuntu-latest' }}
      name: Build GCC Native Libraries on Linux x64
      shell: bash
      run: cd ./libs/projects/salmon-libs-gcc && make PLATFORM=linux ARCH=x86_64 ENABLE_JNI=1 ENABLE_GPU=1 package
    - if: ${{ matrix.os == 'ubuntu-24.04-arm' }}
      name: Build GCC Native Libraries on Linux aarch64
      shell: bash
      run: cd ./libs/projects/salmon-libs-gcc && make PLATFORM=linux ARCH=aarch64 ENABLE_JNI=1 ENABLE_GPU=1 package
    
    # Upload GCC Artifacts
    - if: ${{ matrix.os == 'ubuntu-latest' }}
      name: Upload GCC Linux x64 Packages
      uses: actions/upload-artifact@v4
      with:
        name: salmon-gcc-linux-x86_64
        path: ./output/native/salmon-gcc-linux-x86_64.3.0.2.tar.gz
    - if: ${{ matrix.os == 'ubuntu-24.04-arm' }}
      name: Upload GCC Linux aarch64 Packages
      uses: actions/upload-artifact@v4
      with:
        name: salmon-gcc-linux-aarch64
        path: ./output/native/salmon-gcc-linux-aarch64.3.0.2.tar.gz

  java_build_matrix:
    strategy:
      matrix:
        java_version: [11]
        os: [windows-latest,ubuntu-latest,macos-15-intel]
    name: build.java${{ matrix.java_version }}. ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read 
    steps:
    
    # Git
    - name: Checkout sources
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    - if: runner.os == 'Windows'
      name: Get submodules on Windows
      shell: cmd
      run: cd ./scripts/misc && init_gitmodules.bat
    - if: runner.os == 'Linux' || runner.os == 'macOS'
      name: Get submodules on Linux/MacOS
      shell: bash
      run: cd ./scripts/misc && ./init_gitmodules.sh
    
    # Toolchains and Build envs
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java_version }}
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    
    # Caches
    - name: Cache Gradle packages
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    
    # Brew
    - if: runner.os == 'macOS'
      name: Update Homebrew
      run: brew update
      
    # OpenCL
    - if: runner.os == 'Linux'
      name: Get OpenCL
      shell: bash
      run: sudo apt install ocl-icd-opencl-dev
    - if: runner.os == 'Windows'
      name: Get OpenCL for Windows
      shell: cmd
      run: cd .\scripts\misc && get_opencl.bat
    - if: runner.os == 'macOS'
      name: Get OpenCL for MacOS
      shell: bash
      run: brew install opencl-headers
      
    # Gradle Build Java Common Libs
    - if: runner.os == 'Windows'
      name: Build Java Common Libs
      shell: cmd
      run: cd ./libs/projects/salmon-libs-gradle && gradlew.bat publish -x test -x :salmon-native:publish -i
      
    # Package Java Common Libs
    - if: runner.os == 'Windows'
      name: Package Java Common Libs
      shell: cmd
      run: powershell -command Compress-Archive -Force -DestinationPath output\salmon-java.${{ github.ref_name }}.zip -Path output\maven\releases\com\mku\salmon
    
    # Clean up Java libraries before we generate the native libs
    - if: runner.os == 'Windows'
      name: Clean up Java libraries
      shell: cmd
      run: rmdir /S /Q output\maven
  
    # Gradle Build Salmon Java Native
    - if: runner.os == 'Windows'
      name: Build Java Native Libraries for Windows x64
      shell: cmd
      run: cd ./libs/projects/salmon-libs-gradle && gradlew.bat :salmon-native:publish -x test -DENABLE_GPU=true -DOPENCL_INCLUDE=$OPENCL_INCLUDE -DOPENCL_LIB=$OPENCL_LIB -i
    - if: runner.os == 'Linux' || runner.os == 'macOS'
      name: Build Java Native Libraries for Linux/MacOS x64
      shell: bash
      run: cd ./libs/projects/salmon-libs-gradle && ./gradlew :salmon-native:publish -x test -DENABLE_GPU=true -DOPENCL_INCLUDE=$OPENCL_INCLUDE -DOPENCL_LIB=$OPENCL_LIB -i
    
    # Package Java Native Libraries
    - if: runner.os == 'Windows'
      name: Package Java Native Libs for Windows x64
      shell: cmd
      run: powershell -command Compress-Archive -Force -DestinationPath output\salmon-java-win-x86_64.${{ github.ref_name }}.zip -Path output\maven\releases\com\mku\salmon
    - if: runner.os == 'Linux'
      name: Package Java Native Libs for Linux x64
      shell: bash
      run: zip -r output/salmon-java-linux-x86_64.${{ github.ref_name }}.zip output/maven/releases/com/mku/salmon
    - if: runner.os == 'macOS'
      name: Package Java Native Libs for MacOS x64
      shell: bash
      run: zip -r output/salmon-java-macos-x86_64.${{ github.ref_name }}.zip output/maven/releases/com/mku/salmon
    
    # Upload Java Common Artifacts
    - if: ${{ matrix.os == 'windows-latest' }}
      name: Upload Java Common Packages
      uses: actions/upload-artifact@v4
      with:
        name: salmon-java
        path: ./output/salmon-java.${{ github.ref_name }}.zip
        
    # Upload Java Native Artifacts
    - if: ${{ matrix.os == 'windows-latest' }}
      name: Upload Java Windows x64 Packages
      uses: actions/upload-artifact@v4
      with:
        name: salmon-java-win-x86_64
        path: ./output/salmon-java-win-x86_64.${{ github.ref_name }}.zip
    - if: ${{ matrix.os == 'macos-15-intel' }}
      name: Upload Java MacOS x64 Packages
      uses: actions/upload-artifact@v4
      with:
        name: salmon-java-macos-x86_64
        path: ./output/salmon-java-macos-x86_64.${{ github.ref_name }}.zip
    - if: ${{ matrix.os == 'ubuntu-latest' }}
      name: Upload Java Linux x64 Packages
      uses: actions/upload-artifact@v4
      with:
        name: salmon-java-linux-x86_64
        path: ./output/salmon-java-linux-x86_64.${{ github.ref_name }}.zip


  android_build_matrix:
    strategy:
      matrix:
        java_version: [11]
        os: [windows-latest]
    name: build.android.java${{ matrix.java_version }}. ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read 
    steps:
    
    # Git
    - name: Checkout sources
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    - if: runner.os == 'Windows'
      name: Get submodules on Windows
      shell: cmd
      run: cd ./scripts/misc && init_gitmodules.bat
    
    # Toolchains and Build envs
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java_version }}
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    
    # Caches
    - name: Cache Gradle packages
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    
    # Gradle Build Java Common Libs
    - if: runner.os == 'Windows'
      name: Build Java Common Libs
      shell: cmd
      run: cd ./libs/projects/salmon-libs-gradle && gradlew.bat publish -x test -x :salmon-native:publish -i
      
    # Gradle Build Android Libs
    - if: runner.os == 'Windows'
      name: Build Android Libs
      shell: cmd
      run: cd ./libs/projects/salmon-libs-gradle-android && gradlew.bat publish -x test -i
      
    # Package Android Libs
    - if: runner.os == 'Windows'
      name: Package Android Libs
      shell: cmd
      run: powershell -command Compress-Archive -Force -DestinationPath output\salmon-android.${{ github.ref_name }}.zip -Path output\maven\releases\com\mku\salmon\*-android
    
    # Upload Java Common Artifacts
    - if: runner.os == 'Windows'
      name: Upload Android Packages
      uses: actions/upload-artifact@v4
      with:
        name: salmon-android
        path: ./output/salmon-android.${{ github.ref_name }}.zip
        
  # C# .NET
  dotnet_build_matrix:
    strategy:
      matrix:
        dotnet_version: [8.0.x]
        os: [windows-latest]
    name: build.winservice.dotnet${{ matrix.dotnet_version }}.${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read 
    steps:
    
    # Git
    - name: Checkout sources
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    - if: runner.os == 'Windows'
      name: Get submodules on Windows
      shell: cmd
      run: cd ./scripts/misc && init_gitmodules.bat
    
    # Toolchains and Build envs
    - if: runner.os == 'Windows'
      name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2
    - name: Setup Nuget
      uses: nuget/setup-nuget@v2
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      
    # Caches
    - name: Cache Gradle packages
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Cache Nuget packages
      uses: actions/cache@v4
      with:
        path: |
          ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.vcxproj*', '**/*.csproj', '**/packages.config') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    # OpenCL
    - if: runner.os == 'Windows'
      name: Get OpenCL for Windows
      shell: cmd
      run: cd .\scripts\misc && get_opencl.bat
      
    # Gradle Build
    - if: runner.os == 'Windows'
      name: Build Gradle Android Native Libraries on Windows
      shell: cmd
      run: cd ./libs/projects/salmon-libs-gradle-android && gradlew.bat :salmon-native-android:build --settings-file settings-native.gradle -x test -i
      
    # MSBuild Build
    - if: runner.os == 'Windows'
      name: Restore .NET dependencies
      working-directory: ./libs/projects/SalmonLibs.VS2022
      run: msbuild -t:restore
    - if: runner.os == 'Windows'
      name: Build .NET on Windows
      working-directory: ./libs/projects/SalmonLibs.VS2022
      run: msbuild /property:Configuration=ReleaseGPU /p:Platform=x64
      
    # Package .NET NuGet Packages
    - if: runner.os == 'Windows'
      name: Package .NET Libs
      shell: cmd
      run: powershell -command Compress-Archive -Force -DestinationPath output\salmon-dotnet.${{ github.ref_name }}.zip -Path output\nuget\releases
    
    # Package WinService
    - if: runner.os == 'Windows'
      name: Publish WinService
      shell: cmd
      run: cd .\libs\projects\SalmonLibs.VS2022 && msbuild SalmonWinService /t:publish /p:PublishProfile=Properties\PublishProfiles\FolderProfile.pubxml /p:Configuration=Release
    - if: runner.os == 'Windows'
      name: Package WinService
      shell: cmd
      run: powershell -command Compress-Archive -Force -DestinationPath output\salmon-winservice.${{ github.ref_name }}.zip -Path output\winservice
      
    # Upload WinService Artifacts
    - if: ${{ matrix.os == 'windows-latest' }}
      name: Upload WinService Package
      uses: actions/upload-artifact@v4
      with:
        name: salmon-winservice
        path: ./output/salmon-winservice.${{ github.ref_name }}.zip


  # Python
  python_build_matrix:
    strategy:
      matrix:
        python_version: [3.11]
        os: [ubuntu-latest]
    name: build.python${{ matrix.python_version }}.${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read 
    steps:
    
    # Git
    - name: Checkout sources
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    - if: runner.os == 'Linux' || runner.os == 'macOS'
      name: Get submodules on Linux/MacOS
      shell: bash
      run: cd ./scripts/misc && ./init_gitmodules.sh
    
    # Toolchains and Build envs
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python_version }}
        cache: 'pip'
    - run: python -m pip install typeguard pycryptodome wrapt
    
    # Package Python Libs 
    - if: runner.os == 'Linux'
      name: Package Python Libs
      shell: bash
      run: cd ./libs/projects/salmon_libs_python && ./package.sh
    - if: runner.os == 'Linux'
      name: Package Python Libs Multi
      shell: bash
      run: zip -r output/salmon-python.${{ github.ref_name }}.zip output/python/*.tar.gz
      
    # Upload Python Artifacts
    - if: ${{ matrix.os == 'windows-latest' }}
      name: Upload Java Common Packages
      uses: actions/upload-artifact@v4
      with:
        name: salmon-python
        path: ./output/salmon-python.${{ github.ref_name }}.zip


  # TypeScript/JavaScript
  ts_js_build_matrix:
    strategy:
      matrix:
        node_version: [21.x]
        os: [ubuntu-latest]
    name: build.js${{ matrix.node_version }}.${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read 
    steps:
    
    # Git
    - name: Checkout sources
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    - if: runner.os == 'Linux' || runner.os == 'macOS'
      name: Get submodules on Linux/MacOS
      shell: bash
      run: cd ./scripts/misc && ./init_gitmodules.sh
    
    # Toolchains and Build envs
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node_version }}
        
    # Install Node modules
    - name: Install Node modules
      working-directory: ./libs/projects/SalmonLibs.vscode
      run: npm install
      
    # Transpile
    - name: Build TS to JS
      run: cd ./libs/projects/SalmonLibs.vscode && npm run build

    # Package TS/JS Libs 
    - if: runner.os == 'Linux'
      name: Package TS/JS Libs
      shell: bash
      run: cd ./libs/projects/SalmonLibs.vscode && ./package.sh
    - if: runner.os == 'Linux'
      name: Package TS Libs Multi
      shell: bash
      run: zip -r output/salmon-ts.${{ github.ref_name }}.zip output/typescript/*.zip
    - if: runner.os == 'Linux'
      name: Package JS Libs Multi
      shell: bash
      run: zip -r output/salmon-js.${{ github.ref_name }}.zip output/javascript/*.zip
      
    # Upload TS/JS Artifacts
    - if: runner.os == 'Linux'
      name: Upload TS Packages
      uses: actions/upload-artifact@v4
      with:
        name: salmon-typescript
        path: ./output/salmon-ts.${{ github.ref_name }}.zip
    - if: runner.os == 'Linux'
      name: Upload JS Packages
      uses: actions/upload-artifact@v4
      with:
        name: salmon-javascript
        path: ./output/salmon-js.${{ github.ref_name }}.zip


  # Release
  salmon_build_release:
    needs: [gcc_macos_build_matrix, gcc_linux_build_matrix, java_build_matrix, dotnet_build_matrix, python_build_matrix, ts_js_build_matrix, android_build_matrix]
    name: Salmon Release
    runs-on: windows-latest
    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v5
      with:
        path: output
    - if: github.ref_type == 'tag'
      name: Package MultiArch
      run: powershell -command Compress-Archive -Force -DestinationPath salmon-multi-arch.${{ github.ref_name }}.zip -Path output
    - name: Release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        draft: true
        files: |
          salmon-multi-arch.${{ github.ref_name }}.zip