# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java Gradle Windows

on:
  push:
    branches: [ "wip-3.0.2" ]
  pull_request:
    branches: [ "wip-3.0.2" ]

jobs:
  build:

    runs-on: windows-latest
    permissions:
      contents: read
    defaults:
      run:
        working-directory: libs/projects/salmon-libs-gradle

    # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    steps:
    - name: Checkout sources
      uses: actions/checkout@v4
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 11
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    # build
    - name: Build Salmon native with Gradle Wrapper
      run: .\gradlew.bat build -x test -i  

    # test
    - name: Salmon.Core Test
      run: .\gradlew.bat :salmon-core:test --tests "com.mku.salmon.test.SalmonCoreTests" -i
    - name: Salmon.FS Test
      run: .\gradlew.bat :salmon-fs:test --tests "com.mku.salmon.test.SalmonFSTests" -i -DtestDir="C:/tmp/salmon/test"
    - name: Salmon.Native Test
      run: .\gradlew.bat :salmon-native:test --tests "com.mku.salmon.test.SalmonNativeTests" -i
  
