name: CD.OpenCL.xcode

on:
  push:
    branches: [ "wip-3.0.2" ]
  pull_request:
    branches: [ "wip-3.0.2" ]

env:
  WIN_TEST_DIR: C:\tmp\salmon\test
  LINUX_TEST_DIR: /tmp/salmon/test
jobs:

  # Java
  gcc_build_matrix:
    strategy:
      matrix:
        os: [macos-15-intel,macos-latest]
    name: build.xcode.${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read 
    steps:
    
    # Git
    - name: Checkout sources
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    - name: Update Homebrew
      run: brew update
    - if: runner.os == 'Linux' || runner.os == 'macOS'
      name: Get OpenCL
      shell: bash
      run: brew install opencl-headers
          
    # Build xcode native libraries
    - if: ${{ matrix.os == 'macos-15-intel' }}
      name: Build xcode Native Libraries on MacOS x86_64
      shell: bash
      run: cd ./libs/projects/salmon-libs-xcode-macos/salmon && xcodebuild -verbose -scheme salmon build && ./package.sh
    - if: ${{ matrix.os == 'macos-latest' }}
      name: Build xcode Native Libraries on MacOS aarch64
      shell: bash
      run: cd ./libs/projects/salmon-libs-xcode-macos/salmon && xcodebuild -verbose -scheme salmon build && ./package.sh
      