name: CD.OpenCL

on:
  push:
    branches: [ "wip-3.0.2" ]
  pull_request:
    branches: [ "wip-3.0.2" ]

env:
  WIN_TEST_DIR: C:\tmp\salmon\test
  LINUX_TEST_DIR: /tmp/salmon/test
jobs:

  # Java
  gcc_build_matrix:
    strategy:
      matrix:
        os: [macos-15-intel]
    name: build.gcc.${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read 
    steps:
    
    # Git
    - name: Checkout sources
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    - name: Update Homebrew
      run: brew update --preinstall
    - if: runner.os == 'Linux' || runner.os == 'macOS'
      name: Get OpenCL
      shell: bash
      run: brew install opencl-headers
          
    # Build GCC native libraries
    - if: ${{ matrix.os == 'macos-15-intel' }}
      name: Build GCC Native Libraries on MacOS x86_64
      shell: bash
      run: cd ./libs/projects/salmon-libs-gcc && make PLATFORM=macos ARCH=x86_64 ENABLE_JNI=1 ENABLE_GPU=1 package
    - if: ${{ matrix.os == 'macos-latest' }}
      name: Build GCC Native Libraries on MacOS aarch64
      shell: bash
      run: cd ./libs/projects/salmon-libs-gcc && make PLATFORM=macos ARCH=aarch64 ENABLE_JNI=1 ENABLE_GPU=1 package
      